<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Acadia"
        tools:targetApi="31">
        <activity
            android:name=".teacher.ClassroomN"
            android:exported="false" />
        <activity
            android:name=".teacher.CreateClassroom"
            android:exported="false" />
        <activity
            android:name=".student.community.Chat"
            android:exported="false" />
        <activity
            android:name=".student.community.ConnectedUserList"
            android:exported="false" />
        <activity
            android:name=".teacher.StudentList"
            android:exported="false" />
        <activity
            android:name=".teacher.QuizQuestions"
            android:exported="false" />
        <activity
            android:name=".teacher.TeacherQuiz"
            android:exported="false" />
        <activity
            android:name=".teacher.UploadAssigment"
            android:exported="false" />
        <activity
            android:name=".teacher.StudentSubmitted"
            android:exported="false" />
        <activity
            android:name=".teacher.NewAssignment"
            android:exported="false" />
        <activity
            android:name=".teacher.OldAssignment"
            android:exported="false" />
        <activity
            android:name=".teacher.Assignment"
            android:exported="false" />
        <activity
            android:name=".teacher.ChangeAndUploadAttendence"
            android:exported="false" />
        <activity
            android:name=".teacher.AttendenceReport"
            android:exported="false" />
        <activity
            android:name=".teacher.UploadNewNotes"
            android:exported="false" />
        <activity
            android:name=".teacher.NotesList"
            android:exported="false" />
        <activity
            android:name=".teacher.TeacherProfile"
            android:exported="false" />
        <activity
            android:name=".student.community.Community"
            android:exported="false" />
        <activity
            android:name=".teacher.TeacherClassroom"
            android:exported="false" />
        <activity
            android:name=".teacher.TeacherHome"
            android:exported="false" />
        <activity
            android:name=".teacher.MainActivityTeacher"
            android:exported="false" />
        <activity
            android:name=".StaffSignup"
            android:exported="false" />
        <activity
            android:name=".teacher.TeacherSignup"
            android:exported="false" />
        <activity
            android:name=".student.StudentSignup"
            android:exported="false" />
        <activity
            android:name=".Signupmain"
            android:exported="false" />
        <activity
            android:name=".MainActivityStudent"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.staff.StudentData"
            android:exported="false" />
        <activity
            android:name=".activity.staff.StaffData"
            android:exported="false" />
        <activity
            android:name=".activity.staff.StaffAdd"
            android:exported="false" />
        <activity
            android:name=".activity.staff.StudentList"
            android:exported="false" />
        <activity
            android:name=".activity.staff.StaffList"
            android:exported="false" />
        <activity
            android:name=".activity.student.Classroom"
            android:exported="false" />
        <activity
            android:name=".activity.student.Community"
            android:exported="false" />
        <activity
            android:name=".activity.student.JoinNewClassroom"
            android:exported="false" />
        <activity
            android:name=".activity.student.StudentHomePage"
            android:exported="false" />
        <activity
            android:name=".activity.student.StudentProfile"
            android:exported="false" />
        <activity
            android:name=".activity.staff.StaffProfile"
            android:exported="false" />
        <activity
            android:name=".activity.staff.StaffHomePage"
            android:exported="false" />
        <activity
            android:name=".activity.student.Quiz"
            android:exported="false" />
        <activity
            android:name=".activity.student.AssigmentUpload"
            android:exported="false" />
        <activity
            android:name=".activity.student.ClassroomChat"
            android:exported="false" />
        <activity
            android:name=".activity.student.QuizList"
            android:exported="false" />
        <activity
            android:name=".activity.student.AssignmentList"
            android:exported="false" />
        <activity
            android:name=".activity.student.AttendenceReport"
            android:exported="false" />
        <activity
            android:name=".activity.student.ClassroomN"
            android:exported="false" />
    </application>

</manifest>